$altezza_navbar: 80px;
$colore_orincipale: #58402c;
$colore_blu: #30488f;
$altezza_icone: 20px;
$line_height_section: 1.5;
$margin_top_section1: 35px;
$font_size_p: 25px;
$backgrund_section: #ffe7d2;
$padding_section2: 100px;
